@using Course_Project.Domain.Entities;
@using Course_Project.Service.DTOs.Users;
@model Task<IEnumerable<UserForResultDto>>


@*Define ViewData *@

@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();

    int pageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage; 
    }

}


@*Write code*@




<div class="row">
    <div class="col-md-8 offset-md-2"> 
        <h1> User Management - All users </h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Username </th>
                    <th>Email</th>
                    <th>IsDeleted</th>
                    <th>IsActive</th>
                    <th>IsAdmin</th>

                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach(var item in await Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)

                        </td>
                        <td class="align-middle">
                            @if (item.IsDeleted)
                            {
                                <span>True</span>
                            }
                            else
                            {
                                <span>False</span>
                            }
                        </td>
                        <td class="align-middle">
                            @if (item.IsBlocked)
                            {
                                <span>True</span>
                            }
                            else
                            {
                                <span>False</span>
                            }
                        </td>
                        <td class="align-middle">
                            @if (item.IsAdmin)
                            {
                                <span>True</span>
                            }
                            else
                            {
                                <span>False</span>
                            }
                        </td>

                        
                        @*<td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>*@
                        <td class="align-middle">
                            <a asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary text-white"> <i class="bi bi-pencil-square"></i>Edit </a>
                            <a asp-controller ="Users" asp-action ="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white"> <i class="bi bi-trash"></i>Delete </a>
                            @*<a asp-controller="Users" asp-action="Block" asp-route-id="@item.Id" class="btn btn-warning text-white"> <i class="bi bi-person-fill-slash"></i>Block </a>*@
                            
                            @if (!item.IsBlocked)
                            {
                                <!-- Add the "Block" button form for active users -->
                                <form id="blockForm-@item.Id" method="post" asp-action="Block">
                                    <input type="hidden" asp-for="Id" value="@item.Id" />
                                    <!-- Include any other required properties here -->
                                    <button type="button" class="btn btn-warning text-white" data-toggle="modal" data-target="#confirmationModal-@item.Id"> <i class="bi bi-person-fill-slash"></i>Block</button>
                                </form>

                                <!-- Confirmation Modal -->
                                <div class="modal fade" id="confirmationModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmationModalLabel">Confirm Block</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to block @item.Username?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                <button type="submit" class="btn btn-danger">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <!-- Display an alternative message or leave it blank when the user is not active -->
                                <!-- ... (e.g., You can show "N/A" or "Not active") ... -->
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="container">
    @if(pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">

            @for(var pge = pager.StartPage; pge < pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage? "active" : "")">
                    <a class="page-link" asp-controller="User" asp-action="Index" asp-route-pg ="@pge" > @pge </a>
                </li>
            }

        </ul>
    }
</div>

<div style="position:fixed;right: 25px; bottom:25px; "class="text-white">
    <a asp-controller="Users" asp-action="Create" class="btn btn-outline-success"> <i class="bi bi-person-plus-fill"></i> Add New</a>
</div>


            
@section Scripts {
    <!-- Add Bootstrap JS script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script>
        // JavaScript to handle the form submission when the "Yes" button is clicked
        $(function () {
            $('form[id^="blockForm-"]').on('submit', function (e) {
                // Prevent the default form submission
                e.preventDefault();

                // Get the form's ID to extract the user ID from it
                var formId = $(this).attr('id');
                var userId = formId.replace('blockForm-', '');

                // Update the confirmation modal with the user name
                var userName = $(`#blockForm-${userId}`).siblings('.align-middle').first().text();
                $('#confirmationModalLabel').text('Confirm Block');
                $('#confirmationModalBody').text('Are you sure you want to block ' + userName + '?');

                // Show the confirmation dialog
                $('#confirmationModal').modal('show');

                // Handle the form submission when "Yes" is clicked in the confirmation modal
                $('#confirmationModal').on('click', '.btn-danger', function () {
                    console.log(`Submitting form with userId ${userId}`);
                    $(`#blockForm-${userId}`).off('submit').submit(); // Submit the corresponding form
                });
            });
        });
    </script>


}
